*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Segoe UI",sans-serif;
}


body{

    min-height:100vh;

    background:#050816;

    color:#e5e7eb;

    display:flex;

    justify-content:center;

    align-items:center;

}



/* BACKGROUND */

body::before{

    content:"";

    position:fixed;

    inset:0;

    background:

    linear-gradient(
        90deg,
        rgba(56,189,248,.08) 1px,
        transparent 1px
    ),

    linear-gradient(
        rgba(56,189,248,.08) 1px,
        transparent 1px
    );

    background-size:40px 40px;

    z-index:-1;

}



/* MAIN */

.dashboard{

    width:95%;

    min-height:95vh;

    background:

    rgba(15,23,42,.9);

    border:

    1px solid rgba(255,255,255,.1);

    border-radius:20px;

    overflow:hidden;

    backdrop-filter:blur(15px);

}



/* HEADER */


header{

    height:90px;

    padding:20px 30px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    background:#020617;

    border-bottom:1px solid #334155;

}



.brand{

    display:flex;

    align-items:center;

    gap:15px;

}


.logo{

    font-size:45px;

}



.brand h1{

    color:#38bdf8;

    font-size:25px;

    letter-spacing:1px;

}



.brand p{

    color:#94a3b8;

    font-size:14px;

}




.server{

    display:flex;

    align-items:center;

    gap:12px;

    color:#22c55e;

    font-weight:bold;

}



.server span{

    width:12px;

    height:12px;

    border-radius:50%;

    background:#22c55e;

    box-shadow:0 0 15px #22c55e;

}



#live-time{

    color:#94a3b8;

}





/* METRIC */


.metrics{

    padding:20px;

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:20px;

}



.card{

    padding:25px;

    text-align:center;

    border-radius:15px;

    background:

    linear-gradient(
        145deg,
        #1e293b,
        #0f172a
    );

    border:1px solid #334155;

}



.card h3{

    color:#94a3b8;

    font-size:14px;

}



.card h1{

    margin-top:15px;

    color:#38bdf8;

    font-size:40px;

}



.danger h1{

    color:#ef4444;

}



.money h1{

    color:#22c55e;

}





/* CONTROL */


.control{

    display:flex;

    justify-content:space-between;

    padding:0 25px 20px;

}



.control input{

    width:320px;

    padding:12px;

    background:#020617;

    color:white;

    border:1px solid #334155;

    border-radius:10px;

}



button{

    cursor:pointer;

    border:none;

    border-radius:10px;

    padding:12px 20px;

    color:white;

    background:#2563eb;

}



button:hover{

    opacity:.85;

}





/* TABLE */


.table-box{

    margin:0 25px;

    height:330px;

    overflow:auto;

}



table{

    width:100%;

    border-collapse:collapse;

}



thead{

    background:#020617;

}



th{

    padding:15px;

    color:#94a3b8;

}



td{

    padding:15px;

    text-align:center;

    border-bottom:1px solid #334155;

}



tbody tr:hover{

    background:

    rgba(56,189,248,.08);

}





/* STATUS */


.status-low,
.status-normal{

    padding:6px 14px;

    border-radius:20px;

    font-size:12px;

    font-weight:bold;

}



.status-low{

    background:#450a0a;

    color:#f87171;

}



.status-normal{

    background:#052e16;

    color:#4ade80;

}





/* ACTION */


.action-cell{

    display:flex;

    justify-content:center;

    gap:10px;

}



.edit-btn{

    background:#2563eb;

}



.delete-btn{

    background:#ef4444;

}





/* BOTTOM */


.bottom{

    margin-top:20px;

    display:grid;

    grid-template-columns:1fr 1fr;

}



.panel{

    padding:20px;

    border-top:1px solid #334155;

}



.panel h2{

    color:#38bdf8;

    margin-bottom:15px;

}



.panel button{

    float:right;

    background:#ef4444;

    padding:7px 15px;

}





/* LOG */


.log-row{

    display:flex;

    justify-content:space-between;

    background:#020617;

    padding:10px;

    margin-bottom:8px;

    border-radius:8px;

}



.log-pos{

    color:#22c55e;

}



.log-neg{

    color:#ef4444;

}





/* CHART */


.chart-row{

    display:flex;

    align-items:center;

    gap:10px;

    margin-bottom:15px;

}



.chart-row .day{

    width:70px;

}



.bar{

    height:15px;

    width:var(--width);

    background:#38bdf8;

    border-radius:10px;

    transition:.5s;

}





/* MODAL */


#modal{

    display:none;

    position:fixed;

    inset:0;

    background:

    rgba(0,0,0,.7);

    justify-content:center;

    align-items:center;

}



.modal-box{

    width:350px;

    background:#1e293b;

    padding:25px;

    border-radius:15px;

    border:1px solid #475569;

}



.modal-box h2{

    color:#38bdf8;

    margin-bottom:20px;

}



.modal-box label{

    display:block;

    margin-top:10px;

    color:#94a3b8;

}



.modal-box input,
.modal-box select{

    width:100%;

    padding:10px;

    margin-top:5px;

    background:#020617;

    color:white;

    border:1px solid #475569;

    border-radius:8px;

}



.modal-box button{

    margin-top:20px;

    width:48%;

}



.modal-box button:last-child{

    background:#64748b;

}





/* RESPONSIVE */


@media(max-width:1000px){


.metrics{

grid-template-columns:repeat(2,1fr);

}


.bottom{

grid-template-columns:1fr;

}


}



@media(max-width:600px){


.dashboard{

width:100%;

border-radius:0;

}



header{

flex-direction:column;

height:auto;

gap:15px;

}



.metrics{

grid-template-columns:1fr;

}



.control{

flex-direction:column;

gap:10px;

}



.control input{

width:100%;

}



}
