*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Segoe UI",sans-serif;
}


body{

    background:#050816;
    color:#e5e7eb;

    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

}



/* BACKGROUND EFFECT */

body::before{

    content:"";

    position:fixed;

    width:100%;
    height:100%;

    background:
    linear-gradient(
        90deg,
        rgba(56,189,248,.08) 1px,
        transparent 1px
    ),

    linear-gradient(
        rgba(56,189,248,.08) 1px,
        transparent 1px
    );

    background-size:40px 40px;

    z-index:-1;

}





.dashboard{

    width:95%;

    height:95vh;

    background:
    rgba(15,23,42,.85);

    border:

    1px solid rgba(255,255,255,.1);


    border-radius:20px;


    overflow:hidden;


    backdrop-filter:blur(15px);


}






/* HEADER */


.header{


    height:80px;


    display:flex;

    justify-content:space-between;

    align-items:center;


    padding:20px 30px;


    background:

    rgba(2,6,23,.8);


    border-bottom:

    1px solid #334155;


}



.brand{

    display:flex;

    align-items:center;

    gap:15px;

}



.logo{

    font-size:40px;

}



.brand h2{

    color:#38bdf8;

    letter-spacing:1px;

}



.brand p{

    color:#94a3b8;

    font-size:13px;

}





.network{

    display:flex;

    align-items:center;

    gap:15px;

    color:#22c55e;

}



.online-dot{

    width:12px;

    height:12px;

    border-radius:50%;

    background:#22c55e;


    box-shadow:

    0 0 15px #22c55e;


}





#live-time{

    color:#94a3b8;

}





/* METRICS */


.metrics{


    display:grid;


    grid-template-columns:

    repeat(4,1fr);


    gap:15px;


    padding:20px;


}



.card{


    padding:20px;


    background:

    linear-gradient(
        145deg,
        #1e293b,
        #0f172a
    );


    border-radius:15px;


    border:1px solid #334155;


    text-align:center;


    transition:.3s;


}



.card:hover{


    transform:translateY(-5px);


    box-shadow:

    0 0 25px rgba(56,189,248,.3);


}




.card h4{


    color:#94a3b8;


    font-size:13px;


}



.card h1{


    margin-top:10px;


    font-size:35px;


    color:#38bdf8;


}



.danger h1{

    color:#ef4444;

}


.money h1{

    color:#22c55e;

}





/* CONTROL */


.control{


    display:flex;

    justify-content:space-between;


    padding:0 25px 15px;


}



.control input{


    width:300px;


    padding:12px;


    border-radius:10px;


    border:

    1px solid #334155;


    background:#020617;


    color:white;


}



.control button{


    background:#2563eb;


    color:white;


    border:none;


    padding:12px 20px;


    border-radius:10px;


    cursor:pointer;


}



.control button:hover{

    background:#1d4ed8;

}






/* TABLE */


.table-box{


    margin:0 25px;


    height:330px;


    overflow:auto;


}



table{


    width:100%;


    border-collapse:collapse;


}



th{


    position:sticky;


    top:0;


    background:#0f172a;


    color:#94a3b8;


    padding:12px;


}



td{


    padding:12px;


    border-bottom:

    1px solid #334155;


}



tr:hover{


    background:

    rgba(56,189,248,.08);


}







/* BOTTOM */


.bottom{


    display:grid;


    grid-template-columns:

    1fr 1fr;


    height:220px;


    margin-top:10px;


}



.panel{


    padding:20px;


    border-top:

    1px solid #334155;


}



.panel h3{


    color:#38bdf8;


    margin-bottom:15px;


}



.panel button{


    float:right;


    background:#ef4444;


    color:white;


    border:none;


    padding:5px 12px;


    border-radius:6px;


}





/* LOG */


.log{


    background:#020617;


    padding:8px;


    margin:5px;


    border-radius:8px;


}






/* CHART */


.bar{


    height:15px;


    background:#38bdf8;


    border-radius:10px;


    margin:8px 0;


}






/* MODAL */


#scan-modal{


    display:none;


    position:fixed;


    inset:0;


    background:

    rgba(0,0,0,.7);


    justify-content:center;


    align-items:center;


}




.modal{


    width:350px;


    background:#1e293b;


    padding:25px;


    border-radius:15px;


    border:

    1px solid #475569;


}



.modal h2{


    color:#38bdf8;


    margin-bottom:15px;


}



.modal label{


    display:block;


    margin-top:10px;


    color:#94a3b8;


}



.modal input,
.modal select{


    width:100%;


    padding:10px;


    margin-top:5px;


    background:#020617;


    color:white;


    border:

    1px solid #475569;


    border-radius:8px;


}




.buttons{


    display:flex;


    justify-content:flex-end;


    gap:10px;


    margin-top:20px;


}



.buttons button{


    padding:10px 20px;


    border:none;


    border-radius:8px;


    cursor:pointer;


}



.buttons button:last-child{


    background:#22c55e;


    color:white;


}






/* MOBILE */


@media(max-width:900px){


.metrics{

grid-template-columns:repeat(2,1fr);

}



.bottom{

grid-template-columns:1fr;

}


}
